<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta http-equiv="Content-Language" content="English">
		[% IF twitter %]
			<meta name="twitter:site" content="@[% twitter %]">
			<meta name="twitter:title" content="@[% SiteTitle.Default %]">
		[% END %]
		[% IF section %]
			<title>[% section.title %]</title>
		[% ELSIF album %]
			<title>TODO - move to the section list</title>
		[% ELSE %]
			<title>TODO - move to the album list</title>
		[% END %]
		<link rel="stylesheet" href="/css/web.css" type="text/css" media="screen">
		<link async rel="stylesheet" href="/css/print.css" type="text/css" media="print">
		<link async rel="stylesheet" href="/css/sprite.css" type="text/css">
		<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" media="screen">
	</head>
	<body>
		[% IF section %]
			[% IF photographs %]
				<div id="header_container">
					<center>
						<h1>Choose a Photograph within [% section.title %]</h1>
					</center>
				</div>
				<div id="container">
					<center>
						[ <a href="?page=albums">Home</a> ] |
						[ <a href="?page=sections&amp;entry=[% album.entry %]">[% album.title %]</a> ]
					</center>
					<ol>
						[% FOREACH photograph IN photographs %]
							<li>
								<!--
								<a href="/img/[% photograph.file %]" target="_blank">[% photograph.title %]</a>
								-->
								[% IF photograph.thumbnail %]
									<a class="popup-link" href="/img/[% album.entry %]/[% photograph.section %]/[% photograph.file %]" title="[% photograph.title %]">
										<img src="[% photograph.thumbnail %]" alt="[% photograph.title %]">
									</a>
								[% ELSE %]
									<a class="popup-link" href="/img/[% album.entry %]/[% photograph.section %]/[% photograph.file %]" title="[% photograph.title %]">[% photograph.title %]</a>
								[% END %]
							</li>
						[% END %]
					</ol>
				</div>
			[% ELSE %]
				<div id="header_container">
					<center>
						<h1>[% section.title %] is empty</h1>
					</center>
				</div>
				<div id="container">
					<center>
						[ <a href="?page=albums">Home</a> ]
					</center>
				</div>
				Please choose a different <a href="?page=sections&amp;entry=[% album.entry %]">section</a> from [% album.title %].
			[% END %]
		[% ELSIF album %]
			TODO - reload the section list
		[% ELSE %]
			TODO - reload the album list
		[% END %]
		<p align="right">
			<i>
				This website was generated by <a href="//github.com/nigelhorne/pds">Photography Display System</a>.
				[% IF updated %]
					<br>
					[% USE date %]
					Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
				[% END %]
			</i>
		</p>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
		<script>
			\$(document).ready(function() {
			  \$('.popup-link').magnificPopup({type:'image'});
			});
		</script>
	</body>
</html>
