<!--
.site-header {
  font : normal normal bold 26px Helvetica, Arial, Verdana, Geneva, sans-serif;
  background : #ffffff;
  color : #BAAA8D;
}
.comment-header {
  font : normal normal bold 14px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #dcdcdc;
  color : #816F4E;
}
.comments {
  font : italic normal normal 14px Georgia, Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #dcdcdc;
  color : #816F4E;
}
.normal {
  font : normal normal normal 14px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #ffffff;
  color : #816F4E;
}
.commentp-text {
  font : normal normal normal 14px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #ffffff;
  color : #816F4E;
}
.commentv-results {
  font : normal normal normal 14px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #ffffff;
  color : #816F4E;
}
.site-footer {
  font : normal normal normal 12px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #ffffff;
  color : #816F4E;
}
.search-counter {
  font : normal normal normal 12px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #ffffff;
  color : #816F4E;
}
.search-results {
  font : normal normal normal 12px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #ffffff;
  color : #816F4E;
}
.shutter-text {
  font : normal normal normal 14px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #ffffff;
  color : #CC9933;
}
.image-text {
  font : normal normal normal 12px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #ffffff;
  color : #816F4E;
}
.album-hascomments {
  font : normal normal normal 12px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #ffffff;
  color : #816F4E;
}
.highlight {
  font : normal normal normal 12px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #ffffff;
  color : #CC3300;
}
.home-newsdate {
  font : normal normal normal 14px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #ffffff;
  color : #816F4E;
}
.home-newsbody {
  font : italic normal normal 14px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #ffffff;
  color : #816F4E;
}
.home-albumname {
  font : normal normal normal 14px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #ffffff;
  color : #BAAA8D;
}
.album-item {
  font : normal normal normal 14px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #ffffff;
  color : #BAAA8D;
}
.album-pagelinks {
  font : normal normal normal 14px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #ffffff;
  color : #BAAA8D;
}
.site-prevnext {
  font : normal normal bold 14px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #ffffff;
  color : #816f4e;
}
A {
  font : normal normal normal 14px Verdana, Geneva, Helvetica, Arial, sans-serif;
  background : #ffffff;
  color : #816f4e;
}
-->
