<html>
	<head>
		[% IF section %]
			<title>[% section.title %]</title>
		[% ELSIF album %]
			<title>TODO - move to the section list</title>
		[% ELSE %]
			<title>TODO - move to the album list</title>
		[% END %]
	</head>
	<body>
		[% IF section %]
			[% IF photographs %]
				<h1>Choose a Photograph within [% section.title %]</h1>
				<ul>
					[% FOREACH photograph IN photographs %]
						<li><a href="/img/[% photograph.file %]">[% photograph.title %]</a></li>
					[% END %]
				</ul>
			[% ELSE %]
				This album is empty.
				Please choose a different <a href="?page=albums">album</a>.
			[% END %]
		[% ELSIF album %]
			TODO - reload the section list
		[% ELSE %]
			TODO - reload the album list
		[% END %]
	</body>
</html>
