<?xml version="1.0" encoding="||textencoding||"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="||textlanguage||" xml:lang="||textlanguage||">
  <head>
    <title>||siteTitle||: ||commentplabel||</title>
    <link href="../themes/Mojave/styles.css" rel="styleSheet" type="text/css" />
    <meta http-equiv="Content-type" content="text/html; charset=||textencoding||" />
  </head>

  <body background="../themes/Mojave/images/ltbeigebg.gif" bgcolor="#aca78c" link="white" vlink="white" text="white">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
      <tr>
        <td>
          <table border="0" width="350">
            <tr>
              <td align="center">
                <br />
                <div class="site-header">
                  <!-- siteHeader -->
                </div>
                <br />
                <br />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" width="100%"
    align="center">
      <tr>
        <td>
          <br />
          <br />
          <table border="0" cellpadding="0" cellspacing="0" width="400"
          align="center">
            <tr>
              <td align="center" valign="middle">
                <table width="350">
                  <tr>
                    <td>
                      <h2><span class="site-label">
                      <!-- commentplabel  --></span></h2>
                    </td>
                  </tr>
                </table>
                <br />
                <table border="0" cellpadding="5" cellspacing="2" width="100%">
                  <tr>
                    <td><!-- commentcontent --></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <br />
    <br />
    <div align="center" class="site-footer">
      <!-- siteFooter -->
    </div>
    <table border="0" cellpadding="10" cellspacing="0" width="400"
    align="center">
      <tr>
        <td><a href="http://ids.sourceforge.net/"><img
        src="../themes/Mojave/images/ids-logo.gif" width="62" height="62"
        border="0" alt="IDS Homepage" /></a> </td>
        <td align="left" width="300"><span class="site-footer">
        <!-- footer --></span> </td>
        
      </tr>
    </table>
  </body>
</html>


