<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta http-equiv="Content-Language" content="English">
		[% IF twitter %]
			<meta name="twitter:site" content="@[% twitter %]">
			<meta name="twitter:title" content="@[% SiteTitle %]">
		[% END %]
		[% IF section %]
			<title>[% section.title %]</title>
		[% ELSIF album %]
			<title>TODO - move to the section list</title>
		[% ELSE %]
			<title>TODO - move to the album list</title>
		[% END %]
		[% IF twitter %]
			<meta name="twitter:site" content="@[% twitter %]">
			<meta name="twitter:title" content="@[% SiteTitle %]">
		[% END %]
		<link rel="stylesheet" href="/css/mobile.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" media="screen">
	</head>
	<body>
		[% IF section %]
			[% IF photographs %]
				<h1>Choose a Photograph within [% section.title %]</h1>
				[% FOREACH photograph IN photographs %]
					<!--
					<a href="/img/[% photograph.file %]" target="_blank">[% photograph.title %]</a>
					-->
					[% IF photograph.thumbnail %]
						<a class="popup-link" href="/img/[% album.entry %]/[% photograph.section %]/[% photograph.file %]" title="[% photograph.title %]">
							<img src="[% photograph.thumbnail %]" alt="[% photograph.title %]">
						</a>
					[% ELSE %]
						<a class="popup-link" href="/img/[% album.entry %]/[% photograph.section %]/[% photograph.file %]" title="[% photograph.title %]">[% photograph.title %]</a>
					[% END %]
				[% END %]
			[% ELSE %]
				<h1>[% section.title %] is empty</h1>
				[ <a href="?page=albums">Home</a> ]
				Please choose a different <a href="?page=sections?entry=[% album.entry %]">section</a> from [% album.title %].
			[% END %]
			<center><font size="+2">
                                [ <a href="?page=albums">Home</a> ]<br>
                                [ <a href="?page=sections&entry=[% album.entry %]">[% album.title %]</a> ]<br>
                        </font></center>
		[% ELSIF album %]
			TODO - reload the section list
		[% ELSE %]
			TODO - reload the album list
		[% END %]
		<p align="right">
			<i>
				This website was generated by <a href="//github.com/nigelhorne/pds">Photography Display System</a>.
				[% IF updated %]
					<br>
					[% USE date %]
					Last updated on [% date.format(time = updated, format = '%d %b %Y', locale = lingua.language_code_alpha2) %]
				[% END %]
			</i>
		</p>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
		<script>
			\$(document).ready(function() {
			  \$('.popup-link').magnificPopup({type:'image'});
			});
		</script>
	</body>
</html>
