/* "Stealth"  John Moose 4/1/2001 */

BODY {
	color : #aaaaaa;
	font-size : small;
	font-family : helvetica, sans-serif;
	margin: 0in;
}
.site-header {
	color : white;
	font-size : large;
	font-weight : 600;
}
.site-footer {
	color : #aaaaaa;
	font-size : small;
}
.site-label {
	color : white;
	font-size : large;
	font-weight : 600;
}
.site-prevnext {
	color : white;
	font-size : small;
}
.site-prevnext2 {
	color : #aaaaaa;
	font-size : small;
}
.album-text {
	color : white;
	font-size : small;
}
.image-title {
	color : white;
	font-size : large;
}
.image-text {
	color : white;
	font-size : small;
}


/* The styles below this point are used internally by IDS. 
   You may modify them, but don't rename or delete them. */

.home-albumname {
	color : white;
	font-size : small;
}
.home-newsdate {
	color : white;
	font-size : small;
}
.home-newsbody {
	color : white;
	font-size : small;
}
.album-item {
	color : white;
	font-size : small;
}
.album-pagelinks {
	color : white;
	font-size : small;
}
.album-hascomments {
	color : white;
	font-size : small;
}
.search-results {
	color : white;
	font-size : small;
}
.search-counter {
	color : white;
	font-size : small;
}
.commentv-results {
	color : white;
	font-size : small;
}
.commentp-text {
	color : white;
	font-size : small;
}
.highlight {
	color : #8b0000;
}

