.albumlist { color: #696969; font-weight: 600; font-size: x-large; font-family: Verdana, "Futura Book", Helvetica }
.bigblack { color: #000000; font-size: x-large; font-family: Verdana, "Futura Book", Helvetica }
.bigwhite { color: white; font-size: x-large; font-family: Verdana, "Futura Book", Helvetica }
.biggrey { color: gray; font-size: large; font-family: Verdana, "Futura Book", Helvetica }
.misctext { color: #808080; font-size: small; font-family: Verdana, "Futura Book", Helvetica }
.smalltext { color: white; font-size: small; font-family: Verdana, "Futura Book", Helvetica }
.smallgreytext { color: #808080; font-size: small; font-family: Verdana, "Futura Book", Helvetica }
.text { color: #ffffff; font-size: x-large; font-weight: 600; font-family: Verdana, "Futura Book", Helvetica }
.blacktext { color: #000000; font-weight: 600; font-size: large; font-family: Verdana, "Futura Book", Helvetica }
.titletext { color: #696969; font-size: large; font-family: Verdana, "Futura Book", Helvetica }
.redtext { color: #8b0000 }
body { font-size: small; font-family: verdana, helvetica, sans-serif }