<html>
	<head>
		<title>[% SiteTitle %]</title>
	</head>
	<body>
		<h1>[% SiteTitle %]</h1>
		<ul>
			[% FOREACH album IN albums %]
				<li><a href="?page=sections&entry=[% album.entry %]">[% album.title %]</a></li>
			[% END %]
		</ul>
	</body>
</html>
