<html>
	<head>
		<title>Choose an Album</title>
	</head>
	<body>
		<h1>Choose an Album</h1>
		<ul>
			[% FOREACH album IN albums %]
				<li><a href="?page=sections&entry=[% album.entry %]">[% album.title %]</a></li>
			[% END %]
		</ul>
	</body>
</html>
